/* Controls */

#controls {
  margin-bottom: 20px;
}

#controls p {
  margin: 0;
}

.emoji-button,
.view-mode-button {
  cursor: pointer;
}
.emoji-button,
.view-mode-button {
  background: none;
  border: none;
  padding: 0;
}
.view-mode-button:hover,
.view-mode-button.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Outlet */

#outlet thead {
  background-color: #f5f5f5;
}
#outlet ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.emoji-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px;
}
.emoji-button:hover {
  border-color: #ccc;
}
.emoji-button:active {
  background-color: #ccc;
}
.emoji-icon {
  width: 32px;
  height: 32px;
}
